<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>To-Do List</h1>
    <ul id="todo-list"></ul>
    <form id="todo-form">
        <div class="form-row horizontal-inputs">
          <input type="text" id="title" placeholder="Title" required />
          <input type="text" id="description" placeholder="Description" required />
          <label>
            <input type="checkbox" id="important" />
            Important
          </label>
        </div>
    
        <div class="form-row">
          <button type="submit">Add To-Do</button>
        </div>
      </form>
    <script>
        /* 처음 todo 리스트 호출 */
        document.addEventListener("DOMContentLoaded", async () => {
            await fetchTodos();
        });

        /* todo 리스트 */
        async function fetchTodos() {
            const response = await fetch('/todos');
            const todos = await response.json();
            const todoList = document.getElementById('todo-list');
            todoList.innerHTML = '';
            todos.forEach(todo => {
                const li = document.createElement('li');
                const isImportant = todo.important ? '✨ ' : '';
                li.textContent = `${isImportant} ${todo.id}번째: ${todo.title} - ${todo.description} ${isImportant}`;

                const deleteButton = document.createElement('button');
                deleteButton.textContent = 'X';
                deleteButton.classList.add('deleteButton');
                deleteButton.onclick = () => deleteTodo(todo.id);
                li.appendChild(deleteButton);
                todoList.appendChild(li);
            });
        }

        /* todo 추가 */
        document.getElementById('todo-form').addEventListener('submit', async (event) => {
            event.preventDefault();
            const title = document.getElementById('title').value;
            const description = document.getElementById('description').value;
            const important = document.getElementById('important').checked;

            const response = await fetch('/todos', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: Date.now(), 
                    title, 
                    description, 
                    completed: false,
                    important})
            });
            if (response.ok) {
                await fetchTodos();
                document.getElementById('title').value = ''; 
                document.getElementById('description').value = '';
                document.getElementById('important').checked = false;
            }
        });

        async function deleteTodo(id) {
            const response = await fetch(`/todos/${id}`, {
                method: 'DELETE'
            });

            if (response.ok) {
                await fetchTodos();
            }
        }
    </script>
</body>
</html>
