@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'S-CoreDream-3Light', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
    height: 100vh;
    margin: 0;
    padding: 40px;
  }
  
  h1 {
    font-weight: 1000;
    font-size: 24px;
  }
  
  #todo-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-row {
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }
  
  .horizontal-inputs {
    flex-direction: row;
    gap: 10px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 150px;
    border: 1px solid #EAD0D6;
    border-radius: 5px;
    text-align: center;
  }
  
  button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #EAD0D6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d4b4ba;
  }

  #todo-list {
    list-style: none;
    padding: 5px;
    width: 300px;
    margin: 0 auto;
  }

  #todo-list button.completeButton {
    padding: 5px 10px;
    font-size: 8px;
    background-color: #6b77ff;
    margin-right: 3px;
    margin-left: 3px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

  #todo-list button.deleteButton {
    padding: 5px 10px;
    font-size: 8px;
    background-color: #FF6B6B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}