/* 커스텀 폰트 추가 */
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 타이틀 */
body {
    font-family: 'S-CoreDream-3Light', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

h1 {
    font-weight: 1000;
    font-size: 24px;
}

/* 입력 폼 */
#todo-form {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

input {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    border: 1px solid #EAD0D6;
    border-radius: 5px;
    text-align: center;
}

/* 제출 버튼 */
button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #EAD0D6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d4b4ba;
}


/* 리스트 */
#todo-list {
    list-style: none;
    padding: 5px;
    width: 300px;
}
