# Ignore Git repo data
.git

# Ignore virtual environments
myenv/
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables and configs
.env

# Ignore local build/test artifacts
*.db
*.sqlite3
*.log